<p>{% if user.is_authenticated %}
    {% load django_bootstrap5 %}
    <form method="post" action="{% url 'blog:like_post' post.id %}">
        {% csrf_token %}
        {% if user in post.likes.all %}
            {% bootstrap_button button_type="submit" content="Убрать лайк" %}
        {% else %}
            {% bootstrap_button button_type="submit" content="Поставить лайк" %}
        {% endif %}
    </form>
{% else %}
    <p><a href="{% url 'login' %}">Войдите</a>, чтобы поставить лайк.</p>
{% endif %}</p>