{% include "includes/js_likes_script.html"%}
<a a style="float: right;" id="like-section-{{ post.id }}">
  {% if user.is_authenticated %}
    <span id="like-count-{{ post.id }}">{{ post.total_likes }}</span>
      <button class="like-button" data-post-id="{{ post.id }}">
        {% if user in post.likes.all %}
          ❤️
        {% else %}
          🤍
        {% endif %}
      </button>
    {% else %}
      <div><a href="{% url 'login' %}">Войдите</a>, чтобы поставить лайк.</div>
  {% endif %}
</a>